package config

// change this to your own domain if proxied
const AppHost = "http://localhost:3000/"
const BrowserName = "Google Chrome (macOS)"
const PathQrCode = "statics/images/qrcode"
const PathSendItems = "statics/images/senditems"
const PathReceivedItems = "statics/images/receiveditems"
const PathHistory = "statics/history"
const DBName = "hydrogenWaCli.db"
